.chart-page {
    margin: 0;
    padding: 0;

    #content {
        padding: 48px 0 0 0;
    }
    #chart-container {
        position: relative;
    }
    .value-type {
        margin-right: 24px;
    }
    .u-select {
        background: rgba(255,255,255,0.07);
    }
}
