.live-data-page {
    .cards {
        display: grid;
        grid-template-columns: calc(50% - 6px) calc(50% - 6px);
        justify-content: space-between;
        padding: 0 12px;

        .card {
            height: 120px;
            background-color: #1d1d1d;
            margin-bottom: 12px;
            padding: 16px;
            box-sizing: border-box;
            border-radius: 5px;
        
            &.clickable {
                cursor: pointer;
            }
            &.warning {
                background-color: #cf6679;
                color: #000;
        
                .title {
                    opacity: 1;
                }
            }
        
            .title {
                opacity: 38%;
                margin-bottom: 18px;
            }
        
            .value {
                font-size: 1.8em;
            }
        }

        #uptime {
            font-size: 1.5em;
        }
    }
    @media (min-width: 768px) {
        .cards {
            grid-template-columns: calc(33.3% - 8px) calc(33.3% - 8px) calc(33.3% - 8px);
        }
    }
    
    @media (min-width: 1024px) {
        .cards {
            grid-template-columns: calc(25% - 10px) calc(25% - 10px) calc(25% - 10px) calc(25% - 10px);
        }
    }
}